.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 100px;
  padding-bottom: 20px;
  z-index: 2;
}
.card{
  display: inline-block;
  vertical-align: top;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 360px;
  height: 530px;
}

.additional-links {
  display: none; 
  
}

.react-link:hover + .additional-links {
  display: block; 
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 340px;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

ul li {
    display: inline; 
    margin-right: 10px; 
}

 
}

.image > img{
  border-radius: 4px;
  width: 360px;
  height: 200px;
}

a{
  height: 25px;
  color: white;
  
  }

.learn-more-link > a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: blue;
  height: 20px;
  color: white;
  text-align: center;
  border-radius: 5px;
  
  }

#copyright{
  display: flex;
  justify-content: center;
background-color: blue;
height: 20px;
color: white;
text-align: center;
width: 100%;
position: fixed;
bottom: 0; 
left: 0; 
right: 0; 
z-index: 1000; 

}

.learn-more-link{
width: 90px;
height: 23px;
color: white;
text-align: center;
background-color: blue;
border-radius: 4px;
float: right;
}

.visible-link{
  position: relative;
  left: 80%;
  position: sticky;
  font-size: 20px;

}


.visible-link > a{
  margin-left: 10px;
}

.title-1{
  display: flex;
  position: relative;
  position: sticky;
  align-items: center;
background-color: blue;
color: white;
width: 100%;
position: sticky;
top: 0;
left: 0;
right: 0;
z-index: 1000;

}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
 
